body{
    line-height: 1.5;
}

#yatra-logo{
    width: 200px;
}
#slogan {
    font-size: 1.2em;
    margin-left: 50px;
    margin-top: -24px;
    color: #969696;
}
#header-section{
    background-color: #f0f0f0;
    padding: 24px 0px;
}
#title-wrapper {
    padding: 24px 0px;
}
#title-wrapper #greeting-msg {
    margin-right: 24px;
}

h4 {
    color: #717171;
    text-transform: uppercase;
}
#title{
    padding: 8px;
}

[contenteditable=true]:empty:not(:focus):before{
    content:attr(placeholder);
    color: #bababa;
}
[contenteditable=true]:focus{
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
}
[contenteditable=true]:focus+div{
    margin-top: -6px;
}
#rating, #description, #created-by{
    padding: 8px;
}
#created-by{
    margin-top: -10px;
}
#post-plan-wrapper{
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 24px;
}

#trip-points-wrapper{
    padding: 8px;
}
.trip-point{
    margin-bottom: 10px;
    margin-top: 10px;
}
.trip-point::before{
    content: '';
    padding-right: 8px;
}
.trip-point .description{
    color: #969696;
    margin-left: 16px;
}

#rate-container{
    margin-bottom: 24px;
}
#review{
    padding: 4px 8px;
}
#map{
    box-shadow: -2px 2px 3px 2px rgba(0, 0, 0, 0.1);
}

.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
    background-color: #fff;
    font-size: 15px;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
}

#pac-input:focus {
    border-color: #2ecc71;
}

.pac-container {
}

.review{
    padding: 16px 0px;
    min-height: 150px;
}
.review h5{
}

#review-block{
    padding-top: 50px;
}
