#yatra-logo{
    width: 200px;
}
#yatra-logo+div{
    font-size: 1.2em;
    margin-left: 50px;
    margin-top: -24px;
    color: #969696;
}

h4{
    text-transform: uppercase;
}

#header-section{
    background-color: #f0f0f0;
}
#body-section{
    padding-top: 24px;
}

#title-wrapper {
    padding: 24px 0px;
}
#title-wrapper #greeting-msg {
    margin-right: 24px;
}

#the-map path {
    opacity: 1;
    stroke: #414141;
    stroke-width: 2px;
    stroke-linejoin: round;
}

#chart_div{
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.1);

}

#the-map {
    height: 500px;
    background-color: #f0f0f0;
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.1);
}
