{% extends 'base.html' %}
{% load staticfiles %}

{% block titleblock %}Yatra | Dashboard{% endblock %}

{% block headblock %}
<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/selectize.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/selectize.bootstrap3.css' %}">
<style>
#header-section{
    background-image: url("{% static 'img/background.jpg' %}");
    background-position: center center;
    background-size: cover;
    background-color: #b1b1b1;
    background-blend-mode: soft-light;
    background-attachment: fixed;
}

</style>
{% endblock %}

{% block scriptblock %}
<script type="text/javascript" src="{% static 'js/dashboard.js' %}"></script>
<script type="text/javascript" src="{% static 'js/selectize.js' %}"></script>
{% endblock %}

{% block bodyblock %}
<div class="section" id="header-section">
    <div class="container">
        {% include 'tour/title-wrapper.html' %}
        <div id="search-wrapper">
            <form action="{% url 'search' %}">
                <div class="form-group">
                    <h4>Search for travel plan</h4>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6">
                            <select id="category-select" name="category" placeholder="Select a category">
                                <option value="" selected>Select a category</option>
                                {% for category in categories %}
                                <option value="{{category.pk}}">{{category.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <select name="destination" id="destination-select" placeholder="Select a destination">
                                <option value="" selected>Select a destination</option>
                                {% for desti in destinations %}
                                <option value="dest:{{desti.pk}}">{{desti.name}}, {{disti.name}}</option>
                                {% endfor %}
                                {% for disti in districts %}
                                <option value="dist:{{disti.pk}}">{{disti.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3">
                            <input type="number" name="min_cost" class="form-control" placeholder="Min cost (Rs.)">
                        </div>
                        <div class="col-sm-3">
                            <input type="number" name="max_cost" class="form-control" placeholder="Max cost (Rs.)">
                        </div>
                        <div class="col-sm-3">
                            <input type="number" name="min_days" class="form-control" placeholder="Min days">
                        </div>
                        <div class="col-sm-3">
                            <input type="number" name="max_days" class="form-control" placeholder="Max days">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input class="btn btn-primary" type="submit" value="search">
                </div>
            </form>
        </div>
    </div>
</div>

<div class="section" id="body-section">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="block" id="my-plans-block">
                    <h4>My Plans</h4>
                    <div class="row">
                        {% for plan in my_plans %}
                        <div class=col-sm-6>
                            <div class="recommendation">
                                <div class="title"><a href="{% url 'plan' plan.pk %}">{{plan.title}}</a></div>
                                <div class="category">{{plan.category}}</div>
                                <div class="rating">Rating: {{plan.rating|floatformat:2}}</div>
                                <div class="description"> {{plan.description|safe}} </div>
                                <div class="budget"> Approx. budget: Rs. {{plan.budget}}</div>
                                <div class="days">{{plan.number_of_days}} days</div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <h4>Create New Plan</h4>
                    </div>
                    <div class="form-group">
                        <input class="form-control" name="title" placeholder="Title" required>
                    </div>
                    <div class="form-group">
                        <input class="form-control" name="destination" placeholder="Destination" required>
                    </div>
                    <div class="form-group">
                        <select id="district-new-plan" name="district" placeholder="District" required>
                            {% for district in districts %}
                            <option value="{{district.pk}}">{{district.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <select id="category-new-plan" name="category" placeholder="Category" required>
                            {% for category in categories %}
                            <option value="{{category.pk}}">{{category.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <input class="btn btn-primary" type="submit" value="create">
                    </div>
                </form>
            </div>
        </div>

        <div class="block" id="recommendations-block">
            <h4>Recommendations</h4>
            <div class="row">
                {% for plan in recommendations %}
                <div class=col-sm-3>
                    <div class="recommendation">
                        <div class="title"><a href="{% url 'plan' plan.pk %}">{{plan.title}}</a></div>
                        <div class="category">{{plan.category}}</div>
                        <div class="rating">Rating: {{plan.rating|floatformat:2}}</div>
                        <div class="description"> {{plan.description|safe}} </div>
                        <div class="budget"> Approx. budget: Rs. {{plan.budget}}</div>
                        <div class="days">{{plan.number_of_days}} days</div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>


    </div>
</div>
{% include 'footer.html' %}
<!-- <div><a href="{% url 'visualize' %}">View Popular Destinations on Map</a></div> -->


{% endblock %}
