
<h1>Dashboard</h1>

<div>
    <a href="{% url 'logout' %}">Logout</a>
</div>

<div>
    <h2> Search </h2>
    <form action="{% url 'search' %}">
        <div>
            <label>Category: </label>
            <select name="category">
                <option value="" selected>--none--</option>
                {% for category in categories %}
                <option value="{{category.pk}}">{{category.name}}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label>Destination: </label>
            <select name="destination">
                <option value="" selected>--none--</option>
                {% for dest in destinations %}
                <option value="{{dest.pk}}">{{dest.name}}</option>
                {% endfor %}
            </select>
        </div>
        <div><label>Min Budget (Rs.): </label><input type="number" name="min_cost"></div>
        <div><label>Max Budget (Rs.): </label><input type="number" name="max_cost"></div>
        <div><label>Min Days: </label><input type="number" name="min_days"></div>
        <div><label>Max Days: </label><input type="number" name="max_days"></div>
        <button type="submit">Search</button>
    </form>
</div>

<div>
    <h2>Recommendations</h2>
{% for plan in recommendations %}
    <h4> {{plan.title}} </h4>
    <h6> {{plan.category}} </h6>
    Rating: {{plan.rating|floatformat:2}}
    <p> {{plan.description}} </p>
    <p> Approx. budget: Rs. {{plan.budget}}</p>
    <p> {{plan.number_of_days}} days </p>
{% endfor %}
</div>
