{% extends 'base.html' %}
{% load staticfiles %}

{% block titleblock %}Yatra | {% if edit %}Edit plan{% else %}View plan{% endif %}{% endblock %}

{% block headblock %}
<link rel="stylesheet" type="text/css" href="{% static 'css/rating.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/map.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/plan.css' %}">
<script>
var editMode = {% if edit %}true{%else%}false{% endif %};
var points = [];
var day = 1;
var postUrl = "{% url 'plan' plan.pk %}";

function refresh(map) {
    {% for point in points %}
    addMarker(new google.maps.LatLng({{point.latitude}}, {{point.longitude}}), map, {{point.day}}, "{{point.description|safe|escape}}");
    {% endfor %}
}
</script>
{% endblock %}

{% block scriptblock %}
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-nr38mjHS3Y_PapPYSmTaFFQ9ucQGwig&libraries=places&callback=initMap"></script>
<script src="{% static 'js/rating.js' %}"></script>
<script>

    $(document).ready(function(){
        $("#rate-container").rating(function(vote, event) {
            data = {'vote': vote};
            $.redirectPost(
                postUrl,
                data
            );
        });
        $("#post-review").on('click', function() {
            data = {'review': $("#review").val()};
            $.redirectPost(
                postUrl,
                data
            );
        });
        $('[contenteditable]').keydown(function(e) {
            if ($(this).html().trim() == '<br>')
                $(this).html("");
        });
    });

    $.extend({
        redirectPost: function(location, args)
        {
            var form = "{% csrf_token %}";
            $.each( args, function( key, value ) {
                form += '<textarea type="hidden" name="'+key+'">' + value + '</textarea>';
            });
            $('<form action="'+location+'" method="POST">'+form+'</form>').appendTo('body').submit();
        }
    });
</script>
<script src="{% static 'js/map.js' %}"></script>
{% endblock %}


{% block bodyblock %}
<div class="section" id="header-section">
    <div class="container">
        {% include 'tour/title-wrapper.html' %}
    </div>
</div>
<div class="section" id="body-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4 id="title" {% if edit %} contenteditable="true" placeholder="Enter Title" {% endif %}>{{ plan.title }}</h4>
                <div id="created-by"><i class="fa fa-user"></i>{{plan.created_by}}</div>
                <div id="rating">Rating: {{plan.rating}}</div>
                <div id="description" {% if edit %} contenteditable="true" placeholder="Enter Description" {% endif %}>{{ plan.description|safe }}</div>
                <div id="trip-points-wrapper">
                    <div id="trip-points">
                    </div>
                </div>
                {% if edit %}
                <div id="post-plan-wrapper">
                    <button id="post-plan" class="btn btn-primary"><i class="fa fa-save"></i>Save</button>
                </div>
                {% endif %}

                <div style="padding:8px;">
                    <h4 class="bottom-label">Rating</h4>
                    <div id="rate-container">
                        <input type="radio" name="rating" class="rating" value="1" {% if review and review.rating == 1 %} checked {% endif %}/>
                        <input type="radio" name="rating" class="rating" value="2" {% if review and review.rating == 2 %} checked {% endif %}/>
                        <input type="radio" name="rating" class="rating" value="3" {% if review and review.rating == 3 %} checked {% endif %}/>
                        <input type="radio" name="rating" class="rating" value="4" {% if review and review.rating == 4 %} checked {% endif %}/>
                        <input type="radio" name="rating" class="rating" value="5" {% if review and review.rating == 5 %} checked {% endif %}/>
                    </div>
                    <h4>Review</h4>
                    <textarea id="review" style="width: 100%" rows="5">{% if review %}{{review.text}}{% endif %}</textarea>
                    <div>
                        <button id="post-review" class='btn btn-primary pull-right' style="margin-top: 16px;">Post</button>
                    </div>
                </div>

            </div>
            <div class="col-md-8">
                <!-- <div id="floating-panel">
                    <input id="address" type="textbox" value="">
                    <input id="submit" type="button" value="Find in map">
                </div> -->
                <div class="row">
                    <div class="col-md-12">
                        <input id="pac-input" class="controls" type="text" placeholder="Search Box">
                        <div id="map" oncontextmenu="return false;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
