{% extends 'base.html' %}
{% load staticfiles %}

{% block titleblock %}Yatra | Search results{% endblock %}

{% block headblock %}
<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/selectize.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/selectize.bootstrap3.css' %}">
{% endblock %}

{% block scriptblock %}
<script type="text/javascript" src="{% static 'js/dashboard.js' %}"></script>
<script type="text/javascript" src="{% static 'js/selectize.js' %}"></script>
{% endblock %}

{% block bodyblock %}
<div class="section" id="header-section">
    <div class="container">
        <div id="title-wrapper">
            <div class="row">
                <div class="pull-right">
                    <span id="greeting-msg">Welcome {{ request.user.username }} !</span>
                    <a href="{% url 'logout' %}" >Logout</a>
                </div>
                <img id="yatra-logo" src="{% static 'img/green-aaa.png' %}">
                <div>your travel companion</div>
                <!-- <h1>Yatra<br><small>your travel companion</small></h1> -->

            </div>
        </div>
        <div id="search-wrapper">
            <form action="{% url 'search' %}">
                <div class="form-group">
                    <h4>Search for travel plan</h4>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6">
                            <select id="category-select" name="category" placeholder="Select a category">
                                <option value="" selected>Select a category</option>
                                {% for category in categories %}
                                <option value="{{category.pk}}">{{category.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <select name="destination" id="destination-select" placeholder="Select a destination">
                                <option value="" selected>Select a destination</option>
                                {% for dest in destinations %}
                                <option value="{{dest.pk}}">{{dest.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3">
                            <input type="number" name="min_cost" class="form-control" placeholder="Min cost (Rs.)">
                        </div>
                        <div class="col-sm-3">
                            <input type="number" name="max_cost" class="form-control" placeholder="Max cost (Rs.)">
                        </div>
                        <div class="col-sm-3">
                            <input type="number" name="min_days" class="form-control" placeholder="Min days">
                        </div>
                        <div class="col-sm-3">
                            <input type="number" name="max_days" class="form-control" placeholder="Max days">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input class="btn btn-primary" type="submit" value="search">
                </div>
            </form>
        </div>
    </div>
</div>

<div class="section" id="body-section">
    <div class="container">
        <div class="block" id="results-block">
            <h4>Results</h4>
            <div class="row">
                {% for plan in plans %}
                <div class="col-sm-3">
                    <div class="search-result">
                        <div class="title"><a href="{% url 'plan' plan.pk %}">{{plan.title}}</a></div>
                        <div class="category">{{plan.category}}</div>
                        <div class="rating">Rating: {{plan.rating|floatformat:2}}</div>
                        <div class="description"> {{plan.description}} </div>
                        <div class="budget"> Approx. budget: Rs. {{plan.budget}}</div>
                        <div class="days">{{plan.number_of_days}} days</div>
                    </div>
                </div>
                {% empty %}
                <div class="col-sm-12">
                    <div class="msg msg-no-result">
                        Sorry! No result found
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
